spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:postgresql://localhost:5168/itp_identity_db
    username: itpusr
    password: itp@168
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 9999